# Final Project â€“  Adoptable Pets

## Milestone 2

Jismi Mathew

11/26/2025

Purpose: Begin the data analysis process of your final project by collecting your data and doing some initial exploratory analysis.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Adoptable_Pets.csv")

Explore Data:

In [3]:
df.describe()

,Animal ID,Intake Type,In Date,Pet name,Animal Type,Pet Age,Pet Size,Color,Breed,Sex,URL Link,Crossing
count,77,77,77,77,77,77,77,77,77,77,77,15
unique,77,6,52,77,4,22,6,30,25,5,77,15
top,A533749,OWNER SUR,11/18/2025,JEFE,CAT,2 YEARS,MED,BLACK / WHITE,DOMESTIC SH,N,http://www.petharbor.com/get_image.asp?res=DET...,"0 ASHMONT CT, SILVER SPRING MD 20906"
freq,1,48,6,1,38,15,44,14,31,40,1,1

In [4]:
df.columns

Index(['Animal ID', 'Intake Type', 'In Date', 'Pet name', 'Animal Type',
       'Pet Age', 'Pet Size', 'Color', 'Breed', 'Sex', 'URL Link ',
       'Crossing'],
      dtype='object')

In [5]:
df.shape

(77, 12)

In [6]:
df.dtypes

Animal ID      object
Intake Type    object
In Date        object
Pet name       object
Animal Type    object
Pet Age        object
Pet Size       object
Color          object
Breed          object
Sex            object
URL Link       object
Crossing       object
dtype: object

In [7]:
df.head()

,Animal ID,Intake Type,In Date,Pet name,Animal Type,Pet Age,Pet Size,Color,Breed,Sex,URL Link,Crossing
0,A533749,RETURN,10/25/2025,JEFE,DOG,5 YEARS,LARGE,RED / WHITE,AM PIT BULL TER / MIX,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
1,A536482,OWNER SUR,10/11/2025,BENITA,OTHER,4 YEARS,MED,GRAY,RABBIT SH,F,http://www.petharbor.com/get_image.asp?res=DET...,NaN
2,A534659,OWNER SUR,08/17/2025,ETHAN,CAT,1 YEAR,MED,WHITE / GRAY,DOMESTIC SH,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
3,A536486,OWNER SUR,10/11/2025,PAPPY,OTHER,3 YEARS,MED,BROWN,SUGAR GLIDER,M,http://www.petharbor.com/get_image.asp?res=DET...,NaN
4,A531011,OWNER SUR,11/15/2025,*SAFIRA,CAT,2 YEARS,MED,TORTIE / WHITE,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN

In [8]:
df.tail()

,Animal ID,Intake Type,In Date,Pet name,Animal Type,Pet Age,Pet Size,Color,Breed,Sex,URL Link,Crossing
72,A537254,RETURN,11/09/2025,SAMANTHA,CAT,4 YEARS,MED,GRAY,DOMESTIC LH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN
73,A486296,OWNER SUR,11/09/2025,WILLOW,CAT,6 YEARS,MED,BRN TABBY,DOMESTIC SH,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
74,A522072,OWNER SUR,11/09/2025,*ANDREW,CAT,1 YEAR 5 MONTHS,MED,ORANGE TAB / WHITE,DOMESTIC LH,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
75,A348332,OWNER SUR,09/05/2025,TIRAMISU,CAT,14 YEARS,MED,BRN TABBY / WHITE,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN
76,A535978,OWNER SUR,09/26/2025,OREO,CAT,4 YEARS,MED,BLACK / WHITE,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN

In [9]:
df.sample(5)

,Animal ID,Intake Type,In Date,Pet name,Animal Type,Pet Age,Pet Size,Color,Breed,Sex,URL Link,Crossing
24,A537652,OWNER SUR,11/14/2025,HAZEL,CAT,13 YEARS,MED,GRAY,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN
48,A536051,STRAY,09/29/2025,*BURTONSVILLE,CAT,14 WEEKS,KITTE,BLACK,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,"14600 PERRYWOOD DR, BURTONSVILLE MD 20866"
0,A533749,RETURN,10/25/2025,JEFE,DOG,5 YEARS,LARGE,RED / WHITE,AM PIT BULL TER / MIX,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
25,A537703,OWNER SUR,11/16/2025,SKU,OTHER,1 YEAR,MED,GRAY,RAT,M,http://www.petharbor.com/get_image.asp?res=DET...,NaN
4,A531011,OWNER SUR,11/15/2025,*SAFIRA,CAT,2 YEARS,MED,TORTIE / WHITE,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Animal ID    77 non-null     object
 1   Intake Type  77 non-null     object
 2   In Date      77 non-null     object
 3   Pet name     77 non-null     object
 4   Animal Type  77 non-null     object
 5   Pet Age      77 non-null     object
 6   Pet Size     77 non-null     object
 7   Color        77 non-null     object
 8   Breed        77 non-null     object
 9   Sex          77 non-null     object
 10  URL Link     77 non-null     object
 11  Crossing     15 non-null     object
dtypes: object(12)
memory usage: 7.3+ KB