# Final Project â€“  Adoptable Pets

## Milestone 3

Jismi Mathew

11/26/2025

Purpose: Clean the data, describe the cleaning steps taken and why, and show the cleaned data. Export the cleaned version into a new CSV file.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Adoptable_Pets.csv")

### Look at data:

In [3]:
df.head()

,Animal ID,Intake Type,In Date,Pet name,Animal Type,Pet Age,Pet Size,Color,Breed,Sex,URL Link,Crossing
0,A533749,RETURN,10/25/2025,JEFE,DOG,5 YEARS,LARGE,RED / WHITE,AM PIT BULL TER / MIX,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
1,A536482,OWNER SUR,10/11/2025,BENITA,OTHER,4 YEARS,MED,GRAY,RABBIT SH,F,http://www.petharbor.com/get_image.asp?res=DET...,NaN
2,A534659,OWNER SUR,08/17/2025,ETHAN,CAT,1 YEAR,MED,WHITE / GRAY,DOMESTIC SH,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
3,A536486,OWNER SUR,10/11/2025,PAPPY,OTHER,3 YEARS,MED,BROWN,SUGAR GLIDER,M,http://www.petharbor.com/get_image.asp?res=DET...,NaN
4,A531011,OWNER SUR,11/15/2025,*SAFIRA,CAT,2 YEARS,MED,TORTIE / WHITE,DOMESTIC SH,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN

### Clean Column Names
I cleaned the column names by converting them to lowercase and replacing spaces with underscores. This makes them easier to reference while coding.

In [4]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
    .str.replace("-", "_")
)

I made the names of some of the columns more simple for when referencing.

In [5]:
# Rename to simpler column names
df = df.rename(columns={
    "animal_id": "id",
    "pet_name": "name",
    "animal_type": "type",
    "pet_age": "age",
    "pet_size": "size",
    "url_link": "url"
})

In [6]:
#look at updated columns:
df.columns

Index(['id', 'intake_type', 'in_date', 'name', 'type', 'age', 'size', 'color',
       'breed', 'sex', 'url', 'crossing'],
      dtype='object')

### Clean up text in certain columns

In [7]:
text_cols = ["name", "intake_type", "type", "size", "color", "breed", "sex"]

for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

Check changes

In [8]:
df.head()

,id,intake_type,in_date,name,type,age,size,color,breed,sex,url,crossing
0,A533749,Return,10/25/2025,Jefe,Dog,5 YEARS,Large,Red / White,Am Pit Bull Ter / Mix,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
1,A536482,Owner Sur,10/11/2025,Benita,Other,4 YEARS,Med,Gray,Rabbit Sh,F,http://www.petharbor.com/get_image.asp?res=DET...,NaN
2,A534659,Owner Sur,08/17/2025,Ethan,Cat,1 YEAR,Med,White / Gray,Domestic Sh,N,http://www.petharbor.com/get_image.asp?res=DET...,NaN
3,A536486,Owner Sur,10/11/2025,Pappy,Other,3 YEARS,Med,Brown,Sugar Glider,M,http://www.petharbor.com/get_image.asp?res=DET...,NaN
4,A531011,Owner Sur,11/15/2025,*Safira,Cat,2 YEARS,Med,Tortie / White,Domestic Sh,S,http://www.petharbor.com/get_image.asp?res=DET...,NaN

### Check for Missing Values

I looked for NaN values to understand which columns needed attention. Some fields had missing data, so I reviewed each to decide whether to fill, replace, or leave them.

In [9]:
df.isna().sum()

id              0
intake_type     0
in_date         0
name            0
type            0
age             0
size            0
color           0
breed           0
sex             0
url             0
crossing       62
dtype: int64

Check what is in the "crossing" column that is not an NaN value.

In [10]:
df[df['crossing'].notna()]

,id,intake_type,in_date,name,type,age,size,color,breed,sex,url,crossing
26,A537143,Stray,10/31/2025,*Wyclef,Cat,2 YEARS,Small,Black,Domestic Sh,N,http://www.petharbor.com/get_image.asp?res=DET...,"0 ASHMONT CT, SILVER SPRING MD 20906"
27,A536602,Stray,10/15/2025,*Axolotl,Cat,2 YEARS,Small,White / Brn Tabby,Domestic Mh,N,http://www.petharbor.com/get_image.asp?res=DET...,"19900 APPLEDOWRE CIR, GERMANTOWN MD 20876"
28,A537438,Stray,11/07/2025,*Jigglypuff,Cat,3 YEARS,Med,Brn Tabby / White,Domestic Sh,S,http://www.petharbor.com/get_image.asp?res=DET...,"0 E DIAMOND AVE, GAITHERSBURG MD 20877"
31,A512399,Stray,11/07/2025,Melanie,Cat,4 YEARS,Med,Brn Tabby,Domestic Sh,S,http://www.petharbor.com/get_image.asp?res=DET...,"4300 FRANKFORT DR, ROCKVILLE MD 20853"
37,A537213,Stray,11/02/2025,*Mr Tuxedo,Dog,3 YEARS,Large,Black / White,Am Pit Bull Ter,N,http://www.petharbor.com/get_image.asp?res=DET...,BEL PRE & ARTCTIC AVE 20853
38,A537454,Stray,11/08/2025,*Holtby,Cat,2 YEARS,Med,Brn Tabby,Domestic Sh,S,http://www.petharbor.com/get_image.asp?res=DET...,"2300 GREENERY LN, SILVER SPRING MD 20906"
42,A536891,Stray,10/23/2025,*Kismet,Cat,3 YEARS,Small,Black / White,Domestic Mh,N,http://www.petharbor.com/get_image.asp?res=DET...,ANNANDALE VA
45,A537569,Stray,11/11/2025,*Rumpus,Cat,4 YEARS,Small,Brn Tabby,Domestic Sh,N,http://www.petharbor.com/get_image.asp?res=DET...,"8000 CRABTREE PL, GAITHERSBURG MD 20879"
46,A535783,Stray,09/20/2025,*Maxwell,Cat,10 WEEKS,Small,Gray / White,Domestic Sh,N,http://www.petharbor.com/get_image.asp?res=DET...,"1200 SPRING ST, SILVER SPRING MD 20910"
47,A537675,Stray,11/14/2025,*Nutella,Dog,3 YEARS,Med,Brown,Bulldog / Mix,S,http://www.petharbor.com/get_image.asp?res=DET...,"7800 CESSNA AVE, GAITHERSBURG MD 20879"
48,A536051,Stray,09/29/2025,*Burtonsville,Cat,14 WEEKS,Kitte,Black,Domestic Sh,S,http://www.petharbor.com/get_image.asp?res=DET...,"14600 PERRYWOOD DR, BURTONSVILLE MD 20866"
50,A536830,Stray,10/21/2025,*Foodie,Dog,2 YEARS,Med,Black / White,Am Pit Bull Ter,N,http://www.petharbor.com/get_image.asp?res=DET...,"9800 MAIN ST, DAMASCUS MD 20872"
51,A537099,Stray,10/29/2025,*Kevin,Dog,6 YEARS,Large,Tan,Black Mouth Cur / Labrador Retr,N,http://www.petharbor.com/get_image.asp?res=DET...,"18600 BROOKE RD, SANDY SPRING MD 20860"
52,A536304,Stray,10/07/2025,*Fred,Dog,2 YEARS,Med,Black / White,Am Pit Bull Ter,N,http://www.petharbor.com/get_image.asp?res=DET...,"400 N FREDERICK AVE, GAITHERSBURG MD 20877"
53,A537615,Stray,11/13/2025,*Pringle,Dog,9 YEARS,Med,Tan / White,Am Pit Bull Ter,N,http://www.petharbor.com/get_image.asp?res=DET...,"2900 JENNINGS RD, KENSINGTON MD 20895"

### Dropping the crossing column
After seeing that NaN values only occur in the Crossing column and reviewing the data, the "crossing" column appears to contain pickup street addresses. I do not need this data to answer any of the research questions for this project. Because it also contains many empty entries and inconsistent formatting, I decided to drop it from the dataset.

In [11]:
df = df.drop(columns=["crossing"])

Check that the changes were made

In [12]:
df.columns

Index(['id', 'intake_type', 'in_date', 'name', 'type', 'age', 'size', 'color',
       'breed', 'sex', 'url'],
      dtype='object')

### Check if any duplicate rows

In [13]:
df.duplicated().sum()

0

There are no duplicates.

#### Convert Age Column to Numeric Values rather than Strings

In [14]:
df["age"] = df["age"].str.extract(r"(\d+)").astype(float)

In [15]:
df['age']

0      5.0
1      4.0
2      1.0
3      3.0
4      2.0
      ...
72     4.0
73     6.0
74     1.0
75    14.0
76     4.0
Name: age, Length: 77, dtype: float64

### Save the Cleaned Data to a New CSV
The cleaned dataset will be saved as `Adoptable_Pets_Cleaned.csv` so the original file remains untouched.

In [16]:
df.to_csv("Adoptable_Pets_Cleaned.csv", index=False)

In [17]:
cleaned_df = pd.read_csv("Adoptable_Pets_Cleaned.csv")

Verify data in new CSV is updated and correct

In [18]:
cleaned_df.head()

,id,intake_type,in_date,name,type,age,size,color,breed,sex,url
0,A533749,Return,10/25/2025,Jefe,Dog,5.0,Large,Red / White,Am Pit Bull Ter / Mix,N,http://www.petharbor.com/get_image.asp?res=DET...
1,A536482,Owner Sur,10/11/2025,Benita,Other,4.0,Med,Gray,Rabbit Sh,F,http://www.petharbor.com/get_image.asp?res=DET...
2,A534659,Owner Sur,08/17/2025,Ethan,Cat,1.0,Med,White / Gray,Domestic Sh,N,http://www.petharbor.com/get_image.asp?res=DET...
3,A536486,Owner Sur,10/11/2025,Pappy,Other,3.0,Med,Brown,Sugar Glider,M,http://www.petharbor.com/get_image.asp?res=DET...
4,A531011,Owner Sur,11/15/2025,*Safira,Cat,2.0,Med,Tortie / White,Domestic Sh,S,http://www.petharbor.com/get_image.asp?res=DET...

In [19]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           77 non-null     object
 1   intake_type  77 non-null     object
 2   in_date      77 non-null     object
 3   name         77 non-null     object
 4   type         77 non-null     object
 5   age          76 non-null     float64
 6   size         77 non-null     object
 7   color        77 non-null     object
 8   breed        77 non-null     object
 9   sex          77 non-null     object
 10  url          77 non-null     object
dtypes: float64(1), object(10)
memory usage: 6.7+ KB